---
import Layout from "../layouts/Layout.astro"
---
<Layout>
<h1 class="text-white">ABout the proyect</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quasi vitae accusamus ratione suscipit, corrupti dolorum quo consectetur fuga neque. Numquam, eum. Laborum adipisci obcaecati dolorum porro. Eum, quidem quod!</p>

</Layout>